#container{
    background-color: steelblue;
    border-color: black;
    border-width: 30px;
    border-style: solid;
    border-left: 100px;
    border-right: 100px;
    width: 1400px;
    height: 100vh;
    display: flex;
    margin: auto;
}
#esquerdo{
    background-color: #d9d9d9;
    width: 560px;
    height: 100vh;
    text-align: center;
}
#direito{
    background-color: white;
    width: 840px;
    height: 100vh;
    padding-left: 50px;
}
#titulo{
  font-family: "Ruda", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 100px;
}
img{
    margin-top: 10px;
    width: 200px;
}
p1{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
p2{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
p3{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
p4{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
p5{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
p6{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
p7{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
p8{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
p9{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
p10{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
p11{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
tit1{
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
tit2{
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
tit3{
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
tit4{
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
tit5{
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
tit6{
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}